<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="InputPath" value="D:\Visual Studio Projects\Radency Tasks\Task1\A"/>
        <add key="OutputPath" value="D:\Visual Studio Projects\Radency Tasks\Task1\B"/>
    </appSettings>
</configuration>